<h1>Hello SBB</h1>

<a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">First</a>
<a routerLink="/second" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Second</a>

<router-outlet></router-outlet>

